AutoClicker/AutoClicker/bin/x86/Debug/AutoClicker.exe
AutoClicker/AutoClicker/obj/x86/Debug/AutoClicker.pdb
AutoClicker/AutoClicker/obj/x86/Debug/AutoClicker.exe
AutoClicker/AutoClicker/bin/x86/Debug/AutoClicker.pdb